@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
@import "reset.css";
@import "variable.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 50px;
  background-color: whitesmoke;
  color: var(--black);
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin: 10px 0;
}

h6 {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.6;
}

.left-screen,
.right-screen {
  width: 310px;
  height: 590px;
  background-color: white;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 20px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
}

/* Left screen main */
.left-screen__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-screen__main__img {
  width: 70px;
  height: 70px;
  margin: 20px 0;
  border-radius: 50%;
  filter: drop-shadow(0 3px 7px rgba(255, 152, 112));
}

.left-screen__main__btns {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-btn {
  width: 100px;
  height: 38px;
  border: none;
  border-radius: 30px;
  font-size: 13px;
}

.main-btn:first-child {
  background-color: var(--black);
  color: white;
}

.main-btn:last-child {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.5);
}

.main-btn:last-child i {
  color: var(--black);
}

/* Left screen lists */
.left-screen__lists__songs {
  width: 100%;
  height: 190px;
  overflow-y: scroll;
}

.left-screen__lists__songs::-webkit-scrollbar {
  display: none;
}

.song {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.song__img {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  margin: 0 15px;
}

.song-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.song-meta__h6 {
  font-size: 12px;
}

.song-meta__h5 {
  font-size: 13px;
  font-weight: 800;
}

.song__ellipsis {
  position: absolute;
  right: 15px;
  top: 7px;
  opacity: 0.4;
}

/* Left screen control box */
.left-screen__control-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 55px;
  background-color: var(--black);
  color: white;
  border-radius: 30px;
  margin: auto;
  margin-top: 15px;
  padding: 0 20px;
}

.left-screen__control-box__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}

.left-screen__control-box__btns {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
