@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 50px;
  background-color: whitesmoke;
}

.left-screen,
.right-screen {
  width: 270px;
  height: 590px;
  background-color: white;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
